{% extends "default_layout/main_layout.html.twig" %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('dashboard_main') }}">๐ ะะปะฐะฒะฝะฐั</a></li>
            <li><a href="{{ path('crypto_currency_list') }}">๐ฐ ะัะธะฟัะพะฒะฐะปััั</a></li>
            <li><a href="{{ path('exchange_list') }}">๐ฆ ะะธัะถะธ</a></li>
            <li><a href="{{ path('trading_bot_list') }}">๐ค ะขะพัะณะพะฒัะต ะะพัั</a></li>
            <li><a href="{{ path('transaction_list') }}">๐ณ ะขัะฐะฝะทะฐะบัะธะธ</a></li>
            <li><a href="{{ path('calculate-grid-buy') }}">๐งฎ ะะฐะปัะบัะปััะพั ะฟัะพะดะฐะถ ะฟะพ ัะตัะบะต</a></li>
        </ul>
    </nav>
{% endblock %}
